body {
  margin: 0;
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Inconsolata',
  monospace; 

    background-color: black;
    color: wheat;

}

code {
 font-family: 'Inconsolata',
 monospace;
}


div {
  padding: 0;
}